asgiref==3.4.1
certifi==2021.10.8
Django==4.0
django-debug-toolbar==3.2.4
django-pgconnection==1.0.2
django-pgtrigger==2.4.0
django-simple-history==3.0.0
environs==9.4.0
marshmallow==3.14.1
psycopg==3.0.8
psycopg2==2.9.2
python-dotenv==0.19.2
python-gettext==4.0
sqlparse==0.4.2
