{% extends 'costos/base.html' %}
{% load i18n %}
{%load static %}
{% block meta_desc %} A&B Cost {% endblock %}
{% block title %} A&B Cost - Ingredientes {% endblock %}
{%block content %}
 <!-- Page Heading -->
	<div class="container">
    	<div class="row justify-content-center">

  		{% if ingredient_list %}
		<!-- Content Column -->
     	<div class="col-xl-10 col-lg-12 col-md-9">
			<a href="{% url 'ingredient_create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    {% trans "+ Ingredient" %}</a>
			<a href="{% url 'add_recipe' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              {% trans "+ Recipe" %}</a>
			<a href="{% url 'provider_create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    {% trans "+ Provider" %}</a>

				<div class="card o-hidden border-0 shadow-lg my-5">
              	<div class="card-body">
				{% for ingredient in ingredient_list %}
					<a href="{% url 'ingredient_detail' ingredient.id %}" >
					<h2>{{ ingredient.name }} {{ ingredient.qty1 }} {{ ingredient.presentation }}  </h2></a><span
					class="float-right">{{ ingredient.qty1 }} {{ ingredient.presentation }}  </span>
                    	   <div class="progress mb-4">
                        	   <div class="progress-bar bg-info" role="progressbar" style="width: 20%"
                                           aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">

							   </div>
				</div>

    			{% endfor %}


			  </div>
	  		</div>
  	 	</div>

		{% else %}
		<p/>No ingredients found </p>
		{% endif %}
		</div>
	</div>
{% endblock %}}
