{% extends 'costos/base.html' %}
{% load i18n %}
{%load static %}
{% block meta_desc %} A&B Cost {% endblock %}
{% block title %} A&B Cost - Ingredient Detail {% endblock %}
{%block content %}
    {% if message %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<h1>Ingredient</h1>
<h2>{{ ingredient.name }} {{ ingredient.type}}</h2>

<p>
    <a href="{% url 'ingredient_edit' pk=ingredient.pk %}" role="button" class="btn btn-primary w-100 mb-2">Edit Ingredient</a>
    <a href="{% url 'IngredientViewList' %}" role="button" class="btn btn-secundary w-100">Ingredients</a>
</p>
{% endblock %}}