{% extends 'costos/base.html' %}
{% load i18n %}
{%load static %}
{% block meta_desc %} A&B Cost {% endblock %}
{% block title %} A&B Cost - Receta Detail {% endblock %}
{%block content %}
    {% if message %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<h1>Receta</h1>
<h2>{{ receta.id }} {{ receta.name}}</h2>
<hr>
    {% for items in receta.items.all %}
         <p>{{items.id}} </p>
    {% endfor %}
<p>
    <a href="{% url 'receta_steps_edit' pk=receta.pk %}" role="button" class="btn btn-primary w-100 mb-2">Edit Steps</a>
    <a href="{% url 'RecetaViewList' %}" role="button" class="btn btn-secundary w-100">Recetas</a>
</p>
{% endblock %}}